Repository brian-ngyn/Meni: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

.lintstagedrc.json:

{
  "packages/explore-site/**/*.{js,jsx,ts,tsx}": [
    "yarn --cwd packages/explore-site prettier --write ."
  ],
  "packages/dashboard-site/**/*.{js,jsx,ts,tsx}": [
    "yarn --cwd packages/dashboard-site prettier --write ."
  ]
}

small
  packages/explore-site/src/components/menu/MenuPage.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/index.tsx
  packages/explore-site/src/server/api/routers/restaurant.ts
Due: yarn --cwd packages/explore-site prettier --write .

final touches
  packages/explore-site/src/assets/index.ts
  packages/explore-site/src/assets/menucover1.png
  packages/explore-site/src/assets/menucover2.png
  packages/explore-site/src/assets/menucover3.png
  packages/explore-site/src/components/MenuCard/MenuCard.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/index.tsx
Due: yarn --cwd packages/explore-site prettier --write .

refactor
  packages/explore-site/src/pages/table/[id]/index.tsx
  packages/explore-site/src/pages/table/[restaurantId]/[menuId]/index.tsx
Due: yarn --cwd packages/explore-site prettier --write .

add qr scan logic
  packages/dashboard-site/src/components/meniComponents/MeniMoneyMaker.tsx
  packages/explore-site/src/components/MenuCard/MenuCard.tsx
  packages/explore-site/src/components/menu/MenuPage.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/index.tsx
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

qr direct to /qr
  packages/dashboard-site/src/components/meniComponents/MeniMoneyMaker.tsx
  packages/explore-site/src/pages/qr/[id]/index.tsx
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

update routing logic
  packages/explore-site/src/components/MenuCard/MenuCard.tsx
  packages/explore-site/src/components/menu/MenuPage.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/[menuId]/index.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/index.tsx
Due: yarn --cwd packages/explore-site prettier --write .

small
  .gitignore
  packages/dashboard-site/src/components/meniComponents/MeniMoneyMaker.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/index.tsx
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

footer padding push to develop sorry
  packages/explore-site/src/components/menu/MenuPage.tsx
Due: yarn --cwd packages/explore-site prettier --write .

Fix some mega broken package dependencies....still some warnings left
  packages/dashboard-site/package-lock.json
  packages/dashboard-site/package.json
Due: none

Add stripe handling support
  packages/dashboard-site/package-lock.json
  packages/dashboard-site/package.json
  packages/dashboard-site/src/pages/api/stripe.ts
  packages/dashboard-site/src/server/api/REST/stripe-handler.ts
  packages/dashboard-site/yarn.lock
Due: yarn --cwd packages/dashboard-site prettier --write .

Some more Stripe cleanup
  packages/dashboard-site/src/server/api/REST/stripe-handler.ts
Due: yarn --cwd packages/dashboard-site prettier --write .

Fix build errors for brian :):)
  packages/dashboard-site/src/pages/api/stripe.ts
  packages/dashboard-site/src/server/api/REST/stripe-handler.ts
Due: yarn --cwd packages/dashboard-site prettier --write .

Remove package-lock my b
  packages/dashboard-site/package-lock.json
  packages/dashboard-site/yarn.lock
Due: none

More work on integrating Stripe Checkout
  packages/dashboard-site/src/components/meniComponents/MeniMoneyMaker.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

rm placeholder image
  packages/dashboard-site/src/context/EditableMenuContext.tsx
  packages/dashboard-site/src/lib/data.ts
  packages/dashboard-site/src/server/api/routers/setters.ts
  packages/dashboard-site/src/server/utils/helpers.ts
  packages/explore-site/src/components/menu/FoodCard.tsx
  packages/explore-site/src/components/menu/MenuPage.tsx
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

change photo upload icon
  packages/dashboard-site/src/components/uploader/index.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .
