Repository brian-ngyn/Meni: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

.lintstagedrc.json:

{
  "packages/explore-site/**/*.{js,jsx,ts,tsx}": [
    "yarn --cwd packages/explore-site prettier --write ."
  ],
  "packages/dashboard-site/**/*.{js,jsx,ts,tsx}": [
    "yarn --cwd packages/dashboard-site prettier --write ."
  ]
}

Fixed the math for the quotes component. The previous math allowed for us to index the array at "length" if math.random() returned 1, which would be out of bounds.
  packages/dashboard-site/src/pages/login/[[...index]].tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

fix classnames using clsx/tw-merge on dashboard site
  packages/dashboard-site/package.json
  packages/dashboard-site/src/components/dashboard/MenuCard.tsx
  packages/dashboard-site/src/components/editMenu/EditContainer.tsx
  packages/dashboard-site/src/components/editMenu/EditableText.tsx
  packages/dashboard-site/src/components/editMenu/FoodCard.tsx
  packages/dashboard-site/src/components/meniComponents/MeniAddressSuggester.tsx
  packages/dashboard-site/src/components/meniComponents/MeniButton.tsx
  packages/dashboard-site/src/components/meniComponents/MeniDialog.tsx
  packages/dashboard-site/src/components/meniComponents/MeniMoneyMaker.tsx
  packages/dashboard-site/src/components/meniComponents/MeniTextInput.tsx
  packages/dashboard-site/src/components/navbar/HamburgerMenu.tsx
  packages/dashboard-site/src/components/registrationForms/RestaurantInfo.tsx
  packages/dashboard-site/src/lib/hooks.ts
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/pages/login/[[...index]].tsx
  packages/dashboard-site/src/pages/register/[[...index]].tsx
  packages/dashboard-site/yarn.lock
Due: yarn --cwd packages/dashboard-site prettier --write .

fix conditional renders
  packages/dashboard-site/src/components/dashboard/MenuCard.tsx
  packages/dashboard-site/src/components/editMenu/FoodCard.tsx
  packages/dashboard-site/src/components/meniComponents/MeniAddressSuggester.tsx
  packages/dashboard-site/src/components/meniComponents/MeniTextInput.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

clean up MMM
  packages/dashboard-site/src/components/meniComponents/MeniMoneyMaker.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

fix some trpc calls
  packages/dashboard-site/src/components/editMenu/EditContainer.tsx
  packages/dashboard-site/src/components/meniComponents/MeniAddressSuggester.tsx
  packages/dashboard-site/src/context/meniContext.tsx
  packages/explore-site/src/components/menu/MenuPage.tsx
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

update clerk
  packages/dashboard-site/package.json
  packages/dashboard-site/yarn.lock
Due: none

Remove deprecated fields and update MeniMoneyMaker component
  packages/dashboard-site/prisma/schema.prisma
  packages/dashboard-site/src/components/meniComponents/MeniMoneyMaker.tsx
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/server/api/routers/meniMoneyMaker.ts
  packages/dashboard-site/src/server/api/routers/onboarding.ts
Due: yarn --cwd packages/dashboard-site prettier --write .

some redis boilerplate
  packages/dashboard-site/src/middleware.ts
Due: yarn --cwd packages/dashboard-site prettier --write .

Update dependencies and fix conditional fetch in MeniAddressSuggester and MeniContextProvider
  packages/dashboard-site/package.json
  packages/dashboard-site/src/components/meniComponents/MeniAddressSuggester.tsx
  packages/dashboard-site/src/context/meniContext.tsx
  packages/dashboard-site/yarn.lock
Due: yarn --cwd packages/dashboard-site prettier --write .

redo MeniContext to make only 1 fetch request
  packages/dashboard-site/src/context/meniContext.tsx
  packages/dashboard-site/src/server/api/routers/getters.ts
Due: yarn --cwd packages/dashboard-site prettier --write .

MEN-66
  packages/dashboard-site/src/components/editMenu/FoodCard.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

Update menu schema and types, refactor updateField to case switch
  packages/dashboard-site/prisma/schema.prisma
  packages/dashboard-site/src/components/dashboard/MenuList.tsx
  packages/dashboard-site/src/components/editMenu/EditContainer.tsx
  packages/dashboard-site/src/components/editMenu/EditableText.tsx
  packages/dashboard-site/src/components/editMenu/FoodCard.tsx
  packages/dashboard-site/src/components/uploader/index.tsx
  packages/dashboard-site/src/context/EditableMenuContext.tsx
  packages/dashboard-site/src/lib/data.ts
  packages/dashboard-site/src/lib/types.ts
  packages/dashboard-site/src/server/api/routers/setters.ts
  packages/explore-site/prisma/schema.prisma
Due: yarn --cwd packages/dashboard-site prettier --write .

fix gap when editing description
  packages/dashboard-site/src/components/editMenu/EditableText.tsx
  packages/dashboard-site/src/components/meniComponents/MeniEditText.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

menu footer + category + subcategory descriptions
  packages/dashboard-site/src/components/editMenu/EditContainer.tsx
  packages/explore-site/src/components/menu/MenuPage.tsx
  packages/explore-site/src/components/menu/MenuTextField.tsx
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

fix spinner not showing and add image compression
  packages/dashboard-site/package.json
  packages/dashboard-site/src/components/uploader/index.tsx
  packages/dashboard-site/src/pages/api/uploadthing.ts
  packages/dashboard-site/yarn.lock
Due: yarn --cwd packages/dashboard-site prettier --write .

Fix input validation when pressing Enter
  packages/dashboard-site/src/components/editMenu/EditableText.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

remove unused var
  packages/dashboard-site/prisma/schema.prisma
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/server/api/routers/onboarding.ts
  packages/explore-site/prisma/schema.prisma
Due: yarn --cwd packages/dashboard-site prettier --write .

remove unused property and add proper properties to clerk + db
  packages/dashboard-site/prisma/schema.prisma
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/server/api/routers/onboarding.ts
  packages/explore-site/prisma/schema.prisma
Due: yarn --cwd packages/dashboard-site prettier --write .

Men 65 part2 (#44)
  packages/dashboard-site/package.json
  packages/dashboard-site/prisma/schema.prisma
  packages/dashboard-site/src/components/editMenu/EditableText.tsx
  packages/dashboard-site/src/components/uploader/index.tsx
  packages/dashboard-site/src/pages/api/uploadthing.ts
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/server/api/routers/onboarding.ts
  packages/dashboard-site/yarn.lock
  packages/explore-site/prisma/schema.prisma
Due: yarn --cwd packages/dashboard-site prettier --write .

Fix entitlement check and update onboarding process
  packages/dashboard-site/src/components/dashboard/MenuList.tsx
  packages/dashboard-site/src/components/navbar/HamburgerMenu.tsx
  packages/dashboard-site/src/context/meniContext.tsx
  packages/dashboard-site/src/lib/hooks.ts
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/server/api/routers/getters.ts
  packages/dashboard-site/src/server/api/routers/onboarding.ts
  packages/dashboard-site/src/server/api/routers/setters.ts
  packages/dashboard-site/src/server/utils/helpers.ts
  packages/explore-site/src/server/api/routers/home.ts
  packages/explore-site/src/server/utils/helpers.ts
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

abc
  packages/dashboard-site/package.json
  packages/dashboard-site/src/server/api/routers/getters.ts
Due: yarn --cwd packages/dashboard-site prettier --write .

fix padding for category bar
  packages/dashboard-site/src/components/editMenu/EditContainer.tsx
  packages/explore-site/src/components/menu/MenuPage.tsx
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

rm table mode comment
  packages/explore-site/src/components/menu/MenuPage.tsx
Due: yarn --cwd packages/explore-site prettier --write .

Men 65-part3 (#47)
  packages/dashboard-site/package.json
  packages/dashboard-site/src/components/dashboard/MenuList.tsx
  packages/dashboard-site/src/components/navbar/HamburgerMenu.tsx
  packages/dashboard-site/src/context/meniContext.tsx
  packages/dashboard-site/src/lib/hooks.ts
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/server/api/routers/getters.ts
  packages/dashboard-site/src/server/api/routers/onboarding.ts
  packages/dashboard-site/src/server/api/routers/setters.ts
  packages/dashboard-site/src/server/utils/helpers.ts
  packages/explore-site/src/server/api/routers/home.ts
  packages/explore-site/src/server/utils/helpers.ts
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

basic footer
  packages/dashboard-site/public/Meni_Privacy_Policy.pdf
  packages/dashboard-site/public/logo-transparent.svg
  packages/dashboard-site/src/components/Footer/index.tsx
  packages/dashboard-site/src/pages/_app.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

use svg on the navbar
  packages/dashboard-site/src/components/navbar/index.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

address comment
  packages/dashboard-site/src/components/Footer/index.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

only show on / and dashboard
  packages/dashboard-site/src/components/Footer/index.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

rename footer to be lowercase
  packages/dashboard-site/src/components/footer/index.tsx
  packages/dashboard-site/src/pages/_app.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

[MEN-44] Footer, terms of service, privacy policy (#36)
  packages/dashboard-site/public/Meni_Privacy_Policy.pdf
  packages/dashboard-site/public/logo-transparent.svg
  packages/dashboard-site/src/components/footer/index.tsx
  packages/dashboard-site/src/components/navbar/index.tsx
  packages/dashboard-site/src/pages/_app.tsx
Due: yarn --cwd packages/dashboard-site prettier --write .

begin be for multimenu on explore
  packages/dashboard-site/prisma/schema.prisma
  packages/explore-site/prisma/schema.prisma
  packages/explore-site/src/components/menu/MenuPage.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/[menuId]/index.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/index.tsx
  packages/explore-site/src/server/api/routers/home.ts
  packages/explore-site/src/server/api/routers/restaurant.ts
Due: yarn --cwd packages/explore-site prettier --write .

add dashboard support
  packages/dashboard-site/src/components/dashboard/MenuCard.tsx
  packages/dashboard-site/src/components/dashboard/MenuList.tsx
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/server/api/routers/setters.ts
Due: yarn --cwd packages/dashboard-site prettier --write .

naming change
  packages/dashboard-site/package.json
  packages/dashboard-site/prisma/schema.prisma
  packages/dashboard-site/src/components/dashboard/MenuList.tsx
  packages/dashboard-site/src/components/meniComponents/MeniMoneyMaker.tsx
  packages/dashboard-site/src/pages/dashboard/index.tsx
  packages/dashboard-site/src/server/api/routers/setters.ts
  packages/dashboard-site/yarn.lock
  packages/explore-site/prisma/schema.prisma
  packages/explore-site/src/server/api/routers/home.ts
  packages/explore-site/src/server/api/routers/restaurant.ts
Due: yarn --cwd packages/explore-site prettier --write ., yarn --cwd packages/dashboard-site prettier --write .

add menu selection page skeleton
  packages/explore-site/src/components/MenuCard/MenuCard.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/index.tsx
  packages/explore-site/src/server/api/routers/restaurant.ts
Due: yarn --cwd packages/explore-site prettier --write .

add proper navigation
  packages/explore-site/src/components/menu/MenuPage.tsx
  packages/explore-site/src/components/restaurantCard/index.tsx
  packages/explore-site/src/pages/restaurant/[restaurantId]/index.tsx
Due: yarn --cwd packages/explore-site prettier --write .

style fix
  packages/explore-site/src/components/MenuCard/MenuCard.tsx
Due: yarn --cwd packages/explore-site prettier --write .
